{{- $title := partialCached "data/title" . .RelPermalink -}}
{{- $description := partialCached "data/description" . .RelPermalink -}}

<meta name="application-name" content="Pensamientos" />
<!-- Launch Icon Title -->
<meta name="apple-mobile-web-app-title" content="Pensamientos">
<!-- Enable standalone (full-screen) mode -->
<meta name="apple-mobile-web-app-capable" content="yes">
<!-- Status bar appearance (has no effect unless standalone mode is enabled) -->
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<!-- Add to home screen -->
<meta name="mobile-web-app-capable" content="yes">
<meta name="theme-color" content="#03a9f4" />
<meta name="generator" content="HugoCMS" />
<meta name="rating" content="General" />
<!-- Force IE 8/9/10 to use its latest rendering engine -->
<meta http-equiv="x-ua-compatible" content="ie=edge">
<!-- Disable automatic detection and formatting of possible phone numbers by Skype Toolbar browser extension -->
<meta name="skype_toolbar" content="skype_toolbar_parser_compatible">
<!-- Select rendering engine order -->
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<!-- Locks the screen into the specified orientation -->
<meta name="x5-orientation" content="landscape/portrait">
<!-- Display this document in fullscreen -->
<meta name="x5-fullscreen" content="true">
<!-- Document will be displayed in "application mode" (fullscreen, etc.) -->
<meta name="x5-page-mode" content="app">
<!-- Locks the screen into the specified orientation -->
<meta name="screen-orientation" content="landscape/portrait">
<!-- Display this document in fullscreen -->
<meta name="full-screen" content="yes">
<!-- UC browser will display images even if in "text mode" -->
<meta name="imagemode" content="force">
<!-- Document will be displayed in "application mode"(fullscreen, forbidding gesture, etc.) -->
<meta name="browsermode" content="application">
<!-- Simplify the document to reduce data transfer -->
<meta name="layoutmode" content="fitscreen">
<!-- Disable the UC browser's feature of "scaling font up when there are many words in this document" -->
<meta name="wap-font-scale" content="no">
<meta property="fb:app_id" content="1087627025048583">

<meta name="keywords"
    content="{{- range .Params.tags -}}{{ . }}, {{- end -}}pensamientos, pensamiento, refleccion, reflecciones, articulo" />

<!-- OpenGrap description -->
<meta property="og:description" content="{{ $description }}" />
<!-- OpenGrap Twitter description -->
<meta name="twitter:description" content="{{ $description }}" />
<meta name="subject" content="{{ $description }}" />
<!-- QQ/Wechat description -->
<meta name="description" itemprop="description" content="{{ $description }}">

<!-- OpenGrap url -->
<meta property="og:url" content="{{ .Permalink }}" />
<!-- OpenGrap site name -->
<meta property="og:site_name" content="{{ .Site.Title }}" />
<!-- OpenGrap type -->
<meta property="og:type" content="
    {{- if .IsPage -}}
        article
    {{- else -}}
        website
    {{- end -}}
" />

<!-- OpenGrap locale -->
{{- with .Params.locale -}}
<meta property="og:locale" content="{{ . }}" />
{{- end -}}

<!-- OpenGrap article -->
{{- if .IsPage -}}
<meta property="article:section" content="{{ .Section | title }}" />
{{- range .Params.tags -}}
<meta property="article:tag" content="{{ . }}" />
{{- end -}} {{- end -}}

<!-- OpenGrap page -->
{{- if .IsPage -}}
{{- if not .Date.IsZero -}}
<meta property="article:published_time" content='{{ .Date.Format "2006-01-02T15:04:05-07:00" | safeHTML }}' />
{{- end -}}
{{- if not .Lastmod.IsZero -}}
<meta property="article:modified_time" content='{{ .Lastmod.Format "2006-01-02T15:04:05-07:00" | safeHTML }}' />
{{- end -}}
{{- else -}}
{{- if not .Site.LastChange.IsZero -}}
<meta property="og:updated_time" content='{{ .Site.LastChange.Format " 2006-01-02T15:04:05-07:00 " | safeHTML }}' />
{{- end -}}
{{- end -}}

<!-- OpenGrap Twitter -->
{{- with .Site.Params.opengraph.twitter.site -}}
<meta name="twitter:site" content="@{{ . }}" />
<meta name="twitter:creator" content="@{{ . }}" />
{{- end -}}

<!-- OpenGrap Twitter title -->
<meta name="twitter:title" content="{{ $title }}" />
<!-- OpenGrap tile -->
<meta property="og:title" content="{{ $title }}" />
<!-- QQ/Wechat title -->
<meta itemprop="name" content="{{ $title }}">

<!-- OpenGrap Twitter card -->
{{- if .Params.img -}}
<meta property="og:image" content="{{ .Params.img }}" />
<meta name="twitter:card" content="{{ default `summary_large_image` .Site.Params.opengraph.twitter.card }}" />
<meta name="twitter:image" content="{{ .Params.img }}" />
<meta itemprop="image" property="image" content="{{ .Params.img }}">
<!-- QQ/Wechat description -->
{{- end -}}

<meta name="ocs-site-verification" content="a5e3afcef7360a66c1b061fecc169ef1" />

<!-- Control the behavior of search engine crawling and indexing -->
<meta name="robots" content="index,follow" /><!-- All Search Engines -->
<meta name="googlebot" content="index,follow" /><!-- Google Specific -->

<script type="application/ld+json">
{
    "@context" : "http://schema.org",
    "@type" : "BlogPosting",
    "mainEntityOfPage": {
         "@type": "WebPage",
         "@id": "{{ .Site.BaseURL }}"
    },
    "articleSection" : "{{ .Section }}",
    "name" : "{{ .Title }}",
    "headline" : "{{ .Title }}",
    // "description" : "{{ if .Description }}{{ .Description }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ end }}{{ end }}",
    "description" : "{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}",
    "inLanguage" : "{{ .Lang }}",
    "author" : "{{ range .Site.Author }}{{ . }}{{ end }}",
    "creator" : "{{ range .Site.Author }}{{ . }}{{ end }}",
    "publisher": "{{ range .Site.Author }}{{ . }}{{ end }}",
    "accountablePerson" : "{{ range .Site.Author }}{{ . }}{{ end }}",
    "copyrightHolder" : "{{ range .Site.Author }}{{ . }}{{ end }}",
    "copyrightYear" : "{{ .Date.Format "2006" }}",
    "datePublished": "{{ .Date | safeHTML }}",
    "dateModified" : "{{ .Date | safeHTML }}",
    "url" : "{{ .Permalink }}",
    "wordCount" : "{{ .WordCount }}",
    "keywords" : [ {{ if isset .Params "tags" }}{{ range .Params.tags }}"{{ . }}",{{ end }}{{ end }}"Blog" ]
}
</script>