<!DOCTYPE html>
<html lang="es">
{{- partial "headers.html" . -}}

<body class="bg-white dark:bg-slate-800">
  {{- partialCached "navbar.html" . -}}
  <main>{{- block "main" . }}{{- end }}</main>
  {{- partialCached "footer.html" . -}}
</body>

</html>