<article class="shadow bg-white dark:bg-slate-600">
  <a href="{{ .RelPermalink }}">
    <div style="background-image: url({{ .Params.img }})"
      class="group relative h-72 bg-cover bg-center bg-no-repeat sm:h-84 lg:h-64 xl:h-72">
      <span
        class="absolute inset-0 block hover:bg-violet-600 dark:bg-violet-400/20 bg-cover bg-center bg-no-repeat opacity-10 transition-opacity group-hover:opacity-50"></span>
      <span
        class="absolute right-0 bottom-0 mr-4 mb-4 block rounded-full border-2 border-white px-6 py-2 text-center font-body text-sm font-bold uppercase text-white md:text-base">
        Leer más
      </span>
    </div>
    <div class="py-6 px-5 xl:py-8">
      <span class="block font-body text-lg font-semibold text-black dark:text-slate-50">{{ .Title }}</span>
      <span class="block pt-2 font-body text-gray-700 dark:text-gray-200">{{ .Summary }}</span>
    </div>
  </a>
</article>