{{ define "main" }}
<div class="bg-gray-50 dark:bg-slate-800">
  <div class="container py-16 md:py-20 m-auto">

    <h2 class="text-center font-header text-4xl font-semibold uppercase text-violet-600 dark:text-violet-400 sm:text-5xl lg:text-6xl">
      {{ .Title }}
    </h2>
    <h4 class="pt-6 text-center font-header text-xl font-medium text-black sm:text-2xl lg:text-3xl">
      {{ .Description }}
    </h4>

    <div class="mx-auto grid w-full grid-cols-1 gap-6 pt-12 sm:w-3/4 lg:w-full lg:grid-cols-3 xl:gap-10">
      {{ $paginator := .Paginate .Data.Pages.ByDate.Reverse }}
      {{ range $paginator.Pages }}
      
      {{ .Render "card" }}
      
      {{ end }}
    </div>
    {{ partial "pagination.html" $paginator }}
  </div>
{{ end }}