{{ define "main" }}
<article class="m-auto container py-6 my-10 md:py-10 bg-gray-50 dark:bg-slate-600">
  <div class="mx-auto max-w-4xl p-6">
    <div class="">
      <h1 class="pt-5 text-center font-body text-3xl font-semibold text-violet-600 dark:text-violet-400 sm:text-4xl md:text-5xl xl:text-6xl">
        {{ .Title}}
      </h1>
      <div class="flex items-center pt-5 md:pt-10">
        <div>
          <img src="https://joaquindecima.gitlab.io/img/profile.webp"
            class="h-20 w-20 rounded-full border-2 border-violet-600 shadow" alt="PatoJAD">
        </div>
        <div class="pl-5">
          <span class="block font-body text-xl font-bold text-grey-10 dark:text-white">Por Joaquin (Pato) Decima</span>
        </div>
      </div>
    </div>
    <div class="prose max-w-none pt-8" id="article">
      {{ .Content }}
    </div>

  </div>
</article>
{{ end }}