{{define "main"}}

<div class="bg-cover relative bg-no-repeat py-8"
  style="background-image: url(https://media.ambito.com/p/13e2a1dc5bd9e08f17f74a9ad0019bfc/adjuntos/239/imagenes/040/288/0040288346/1200x675/smart/meditacionjpeg.jpeg);">
  <div class="absolute inset-0 z-20 bg-cover bg-center bg-no-repeat bg-violet-600/80 dark:bg-violet-400/80"></div>
  <div class="container relative z-30 pt-20 pb-12 sm:pt-56 sm:pb-48 lg:pt-64 lg:pb-48">
    <div class="flex flex-col items-center justify-center lg:flex-row">
      <div class="rounded-full border-8 border-violet-600 shadow-xl">
        <img src="https://joaquindecima.gitlab.io/img/profile.webp" class="h-48 rounded-full sm:h-56" alt="author">
      </div>
      <div class="pt-8 sm:pt-10 lg:pl-8 lg:pt-0">
        <h1 class="text-center font-header text-4xl text-white sm:text-left sm:text-5xl md:text-6xl">
          Pato
        </h1>
        <div class="flex flex-col justify-center pt-3 sm:flex-row sm:pt-5 lg:justify-start">
          <div class="flex items-center justify-center pl-0 sm:justify-start md:pl-1">
            <p class="font-body text-lg uppercase text-white">Te invito a recorrer los lugares mas reconditos de mi
              mente</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-gray-50 dark:bg-slate-800">
  <div class="container py-16 md:py-20 m-auto">

    <h2 class="text-center font-header text-4xl font-semibold uppercase text-violet-600 dark:text-violet-400 sm:text-5xl lg:text-6xl">
      Últimas publicaciones
    </h2>
    <h4 class="pt-6 text-center font-header text-xl font-medium text-black dark:text-gray-100 sm:text-2xl lg:text-3xl">
      Lo último que he escrito
    </h4>

    <div class="mx-auto grid w-full grid-cols-1 gap-6 pt-12 sm:w-3/4 lg:w-full lg:grid-cols-3 xl:gap-10">
      {{ range first 3 .Site.RegularPages.ByDate.Reverse }}
      {{ .Render "card" }}
      {{end}}
    </div>
  </div>
</div>

{{end}}