@tailwind base;
@tailwind components;
@tailwind utilities;

body * {
  @apply transition-colors duration-200;
}

body {
  height: 100vh;
}

#article p {
  @apply py-3 dark:text-gray-100;
}

#article img {
  @apply mx-auto my-6;
}

#article h2 {
  @apply text-3xl font-bold text-violet-600 dark:text-violet-400 py-4;
}

#article h3 {
  @apply text-2xl font-bold text-violet-600 dark:text-violet-400 py-4;
}

#article h4 {
  @apply text-xl font-bold text-violet-600 dark:text-violet-400 py-4;
}

#article h5 {
  @apply text-lg font-bold text-violet-600 dark:text-violet-400 py-4;
}

#article h6 {
  @apply text-base font-bold text-violet-600 dark:text-violet-400 py-4;
}

#article a {
  @apply text-violet-600 dark:text-violet-400;
}

#article a:hover {
  @apply text-violet-800;
}

#article blockquote {
  @apply border-l-4 border-violet-600 bg-violet-100 p-4 my-4 dark:bg-violet-600;
}

#article ul {
  @apply list-disc ml-10;
}

#article ol {
  @apply list-decimal ml-10;
}

#article hr {
  @apply my-8 border-t-2 border-violet-600;
}