<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <!-- Description -->
  {{- $description := partialCached "data/description" . .RelPermalink -}}
  <meta name="description" content="{{ $description }}" property="og:description" />

  <!-- Keywords -->
  {{ with .Params.Keywords }}
  <meta name="keywords" content='{{ delimit . ", "}}' />
  {{ end }}

  <!-- Titulo -->
  {{- $title := partialCached "data/title" . .RelPermalink -}}
  <title>{{ $title }}</title>

  <meta name="robots" content="index, follow" />

  <!-- Google Search Meta -->
  <meta name="google-site-verification" content="AB62lAN6bYFzpeZoN7yIodQqshuK3E4R7qQYEsq8T4Y" />

  <!-- Bing Meta Data -->
  <meta name="msvalidate.01" content="8A4FD3C15526528D48C910421066EC92" />

  <!-- RSS -->
  {{ range .AlternativeOutputFormats -}} {{ printf `
  <link rel="%s" type="%s" href="%s" title="%s" />
  ` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}

  <link rel="alternate" type="application/rss+xml" href="/index.xml" />

  <!-- Favicon -->
  <link rel="icon" type="image/png" href='{{ "img/icon.jpg" | absURL }}' />

  <!-- Canonical -->
  <link rel="canonical" href="{{ .Permalink }}" />

  <!-- CSS -->
  {{- partial "head/style.html" . -}}

  <!-- Opengraph -->
  {{- partial "head/include.html" . -}}

  <!-- SEO Scheme -->
  {{- partial "head/seoScheme.html" . -}}


  {{ $darkmode := resources.Get "/js/darkmode.js" | minify | fingerprint
  "sha512" }}

  <script src="{{ $darkmode.RelPermalink }}"></script>
</head>