<header class="w-full z-50 top-0 py-3 sm:py-5 bg-violet-600 dark:bg-violet-400">
  <nav class="max-w-[85rem] text-center w-full mx-auto px-4 sm:flex sm:items-center sm:justify-between" aria-label="Global">
    <a class="flex-none text-xl font-semibold text-white" href="/">Pensamientos</a>
    <div class="flex flex-row items-center gap-5 mt-5 justify-center sm:justify-end sm:mt-0 sm:ps-5">
      {{ range .Site.Menus.main }}
      <a class="font-medium text-white hover:text-gray-200"
        title="{{- .Name -}}" href="{{ .URL | relLangURL }}" {{ if eq .Params.newtab true }}target="_blank" {{ end
        }}>{{- .Name -}}</a>
      {{ end }}
      {{ partial "widgets/darkmode" . }}
    </div>
  </nav>
</header>