{{ if gt .TotalPages 1 }}
<div class="mt-10 flex justify-between border-t border-violet-600 py-12">
  <div>
    {{ if .HasPrev }}
    <a href="{{ .Prev.URL }}" class="flex items-center">
      <i class="bx bx-left-arrow-alt text-2xl text-violet-600 dark:text-violet-400"></i>
      <span class="block pl-2 font-body text-lg font-bold uppercase text-violet-600 dark:text-violet-400 md:pl-5">Anterior</span>
    </a>
    {{ end }}
  </div>
  
  <div>
    {{ if .HasNext }}
    <a href="{{ .Next.URL }}" class="flex items-center">
      <span class="block pr-2 font-body text-lg font-bold uppercase text-violet-600 dark:text-violet-400 md:pr-5">Siguiente</span>
      <i class="bx bx-right-arrow-alt text-2xl text-violet-600 dark:text-violet-400"></i>
    </a>
    {{ end }}
  </div>
  
</div>
{{ end }}